* {/*padding: 0;
margin: 0;*/
box-sizing: border-box;
}

.home {
	height: 100vh;
	background-image: url('image/home_horizonal.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
}

.foothome {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #212529;
}

footer {
    text-align: center;
    color: lightgray;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

p {
	text-align: center;
	word-break: keep-all;
}

nav {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 20px;
  height: 100vh;
  justify-content: center;
}

nav section {
  position: absolute;
  width: 110px;
  height: 80px;
  background: transparent;
  top: 50%;
  transform: translate(-50%, -50%);
}

.floor {
	text-align: center;
	word-break: keep-all;
	padding: 25%;
	margin: 0;
}

.title {
	text-align: center;
	padding: 40px;
	color: white;
}

.onef {left: 40%;}
.twof {left: 50%;}
.threef {left: 60%;}
.fourf {left: 70%;}
.fivef {left: 80%;}

nav img {
  width: 100%;
  display: block;
}

img {
	width: 1600px;
	display: block;
	margin: 0 auto;
}

.row-img {
  width: 45%;
  display: inline-block; 
  vertical-align: top;
  margin: 10px;
}

.three-img {
  width: 30%;
  display: inline-block; 
  vertical-align: top;
  margin: 10px;
}

@media screen and (max-width: 900px) {
	.home {
		background-image: url('image/home_vertical.png');
		background-repeat: no-repeat;
		background-size: cover;
		margin: 0;
	}

	.floor {
		text-align: center;
		word-break: keep-all;
		padding: 10%;
		margin: 0;
	}

	.title {
		padding: 0;
		margin: 0;
	}

	.onef {top: 25%; right: 50%;
	.twof {bottom: 40%; right: 50%;}
	.threef {bottom: 55%; right: 50%;}
	.fourf {bottom: 70%; right: 50%;}
	.fivef {bottom: 85%; right: 50%;}

	/*.onef {
		position: absolute;
		width: 110px;
		height: 80px;
		background-color: transparent;
		right: 40%;
		top: 510px;
	}

	.twof {
		position: absolute;
		width: 110px;
		height: 80px;
		background-color: transparent;
		right: 40%;
		top: 400px;
	}

	.threef {
		position: absolute;
		width: 110px;
		height: 80px;
		background-color: transparent;
		right: 40%;
		top: 290px;
	}

	.fourf {
		position: absolute;
		width: 110px;
		height: 80px;
		background-color: transparent;
		right: 40%;
		top: 190px;
	}

	.fivef {
		position: absolute;
		width: 110px;
		height: 80px;
		background-color: transparent;
		right: 40%;
		top: 82px;
	}*/
}
