* {
    box-sizing: border-box;
}

.home {
    height: 100vh;
    background-image: url('image/home_horizonal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.foothome {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #212529;
}

footer {
    text-align: center;
    color: lightgray;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    word-break: keep-all;
}

body, article, section {
    margin: 0;
    padding: 0;
}

article img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
    height: 100vh;
    justify-content: center;
}

nav section {
    position: absolute;
    width: 110px;
    height: 80px;
    background: transparent;
    top: 50%;
    transform: translate(-50%, -50%);
}

.floor {
    text-align: center;
    word-break: keep-all;
    padding: 25%;
    margin: 0;
}

.title {
    text-align: center;
    padding: 40px;
    color: white;
}

.onef { left: 40%; }
.twof { left: 50%; }
.threef { left: 60%; }
.fourf { left: 70%; }
.fivef { left: 80%; }

nav img {
    width: 100%;
    display: block;
}

.row-img {
    width: 100%;
    display: flex;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.three-img {
    width: 100%;
    display: flex;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 900px) {
    .home {
        background-image: url('image/home_vertical.png');
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        gap: 20px;
        padding-top: 125px;
    }

    nav section {
        position: relative;
        left: 0;
        top: 0;
        transform: none;
        width: 110px;
        height: 80px;
    }

    .row-img {
        display: block;
        width: 100%;
    }

    .three-img {
        display: block;
        width: 100%;
    }

    .onef, .twof, .threef, .fourf, .fivef {
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
    }
}
